# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/inventory/target/
/IMG_01062018_122641_0.png
/IMG_01062018_122816_0.png
